<launch>
    <include file="$(find tracer_gazebo_sim)/launch/tracer_empty_world.launch"/>
    <include file="$(find mobile_manipulator_moveit_config)/launch/move_group.launch"/>
    <node pkg="mobile_manipulator_example" name="tracer" type="move_tracer" output="screen"/>
    <node pkg="mobile_manipulator_example" name="manipulator" type="move_manipulator" output="screen"/>
</launch>