<launch>
    <arg name="model" default="$(find mobile_manipulator_description)/urdf/box.xacro"/>
    
    <arg name="rvizconfig" default="$(find mobile_manipulator_description)/rviz/urdf.rviz" />
    
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>