<launch>
<param name="use_mag" value="false"/>
<rosparam command="load" file="$(find robot_localization)/params/dual_ekf_navsat_example.yaml" />

  <include file="$(find wit_node)/launch/wit.launch"/>
  
  <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter"/>

  <include file="$(find tracer_base)/launch/IMU_localization.launch"/>

</launch>
